
<div id="modal_anchor">
{%- for item in data_tree recursive %}
	{%- if item.obj -%}
			
		<!-- Modal -->
		
		<div class="modal fade" id="modalEdit{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel{{ item.id }}" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="modalEditLabel{{ item.id }}">{{ item.obj.name }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
			    <h6 class="modal-title" id="modalEditLabel{{ item.id }}">ID: {{ item.obj.id }}</h6>

				{% for field, type in (
					("name","text"), 
					("parent_id", "text")
					) 
				%}
				
				<div class="form-group">
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text">{{ field }}</span>
					  </div>
					  
					  <label for="{{ field }}" class="sr-only">{{ field }}</label>
					  <input type="{{ type }}" value="{{ item.obj[field] }}" id="{{ field }}{{ item.obj.id}}" name="{{ field }}" class="form-control" >
					</div>
				</div>
				{% endfor %}
				
				<div class="container">
				<div class="row">
				
					<div class="form-check col-md-6">
					  <input class="form-check-input" type="checkbox" id="is_checkinable{{ item.obj.id}}"
					  {%- if item.obj.is_checkinable %} checked {% endif -%}
					  >
					  <label class="form-check-label" for="defaultCheck1">
						Is Checkinable?
					  </label>
					</div>
					
					<div class="form-group col-md-6">
					  <div class="row">
						  <select class="custom-select col" id="value_type{{ item.obj.id}}">
						  	{% for kind in ('', 'range', 'boolean', 'text', 'number') %}
								<option value="{{ kind }}" {%
									if (item.obj.id in et_interfaces) 
									    and (et_interfaces[item.obj.id].input_type == kind) -%}
									selected
									{%- endif -%}
								>{{ kind }}</option>
							{% endfor %} 
						  </select>
						  <label for="value_type{{ item.obj.id}}" class="col">Value Type</label>
					  </div>
					</div>
					
				</div>
				</div>
				
				
				
				<hr class="mb-4">
				<h6 class="modal-title">Create Child Event Types (optional)</h6>
				
				<!-- Add Child from parent -->
			<div id="addchildren{{ item.obj.id }}">
			
				<div class="form-group add-field-template">
					<div class="input-group mb-3">
					
					  <div class="input-group-prepend">
						<button class="btn btn-outline-secondary fa fa-plus-circle" type="button"
						id="addfield0_{{ item.obj.id }}" data-nthfield="0" data-eventTypeId="{{ item.obj.id }}"></button>
					  </div>
					  
					  <label for="foobar" class="sr-only">Name</label>
					  <input type="text" placeholder="Name" id="foobar1" name="foobar" class="form-control" >
					  
					  <div class="input-group-append">
						<div class="input-group-text">
						  <input name="checkinability" type="checkbox" id="is_checkinable{{ item.obj.id}}" checked >
						  <span for="checkinability">Checkinable?</span>
						</div>
					  </div>
					  
					</div>
				</div>
				
			</div>
				
				
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-primary submit-et-update" id="saveModal{{ item.obj.id }}" data-eventTypeId="{{ item.obj.id }}" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			  </div>
			</div>
		  </div>
		</div>	
			
	
	{%- endif -%}
    {%- if item.children -%}
        {{ loop(item.children) }}
    {%- endif %}
{%- endfor %}
</div>

<script>

/* there's almost certainly a better way to do this, but oh well. */
function _addField(){
	const event_type_id = $(this).attr("data-eventTypeId");
	console.log(event_type_id);
	
	let modal = $("#modalEdit" + event_type_id);
	let subform = modal.find('div#addchildren' + event_type_id);

	const template = subform.find('div.add-field-template');
	if (template.length > 1){
		template = template.last()
	}

	const n = +template.find('button').attr('data-nthfield') + 1;

	let new_node = $(template.html());
	let new_button = new_node.find('button');
	new_button.attr('data-nthfield', n);
	new_button.attr('id', "addfield" + n + "_" + event_type_id );
	new_button.click(this, _addField);
	subform.append(new_node);
}

$("button.fa-plus-circle").click(this, _addField);

function _putUpdateEventType(){ 
    
	const event_type_id = $(this).attr("data-eventTypeId");
	console.log(event_type_id);
	
	
	
	const modal = d3.select('#modalEdit' + event_type_id);
	//let comments = modal.select('input#comments').node().value;
	//let value = modal.select('input#value').node().value;
	/* let timestamp = new Date(modal.select('input#datetime').node().value); */
	const name = modal.select('input#name' + event_type_id).node().value;
	const parent_id = modal.select('input#parent_id' + event_type_id).node().value;
	//const is_checkinable = modal.select('input#is_checkinable' + event_type_id).node().value;
	const is_checkinable = $("#is_checkinable" + event_type_id).is(":checked");

	let xhr = new XMLHttpRequest(); 
	const url = "/eventtype/"; 

	const payload = {'id': event_type_id,
				     'name': name,
					 'parent_id': parent_id,
					 'is_checkinable': is_checkinable
					 };
				   
	console.log(payload);


	const data = JSON.stringify(payload);
	
	console.log(data);
	
	xhr.open("PUT", url, true); 
	xhr.setRequestHeader("Content-Type", "application/json"); 
	xhr.send(data); 
	
	/////////////////
	if (!is_checkinable){ return; }
	console.log("is checkinable!");
	
	const value_type = $("#value_type" + event_type_id).val();
	const payload2 = [{'event_type_id': event_type_id,
					  'value_type': value_type}];
				   
	console.log(payload2);
	const data2 = JSON.stringify(payload2);
	console.log(data2);
	
	let xhr2 = new XMLHttpRequest(); 
	const url2 = "/eventtype/interface/"; 
	xhr.open("PUT", url2, true); 
	xhr.setRequestHeader("Content-Type", "application/json"); 
	xhr.send(data2); 
}

$("button.submit-et-update").click(this, _putUpdateEventType);

function _create_child_event_types(){
	const event_type_id = $(this).attr("data-eventTypeId");
	//console.log(event_type_id);
	
	const modal = $("#modalEdit" + event_type_id);
	const subform = modal.find('div#addchildren' + event_type_id);
	const children = subform.find('.input-group');

	let payload = children
		.filter(function() { 
			return $(this).find("input[type='text']").val(); })
		.map(function() {
		return {'name': $(this).find("input[type='text']").val(),
	        'is_checkinable': $(this).find("input[type='checkbox']").is(":checked"),
			'parent_id': event_type_id};
			})
			.get();
			
	console.log(payload);
	const data = JSON.stringify(payload);
	console.log(data);
	
	// either need to create an endpoint that takes multiple event types for registration, 
	//or need to send this to the existing one. 
	// ... actually, it would be pretty simple to modify the existing endpoint to just accept
	// List[EventType], then just need to update the existing registration pages to wrap their
	// payload in a list/array. Bing bang boom, single endpoint does all the work. 
	// could probably use the same strategy for checkins.
	let xhr = new XMLHttpRequest(); 
	const url = "/eventtype/"; 
	xhr.open("POST", url, true); 
	xhr.setRequestHeader("Content-Type", "application/json"); 
	xhr.send(data); 
}

$("button.submit-et-update").click(this, _create_child_event_types);

</script>
		