{% extends 'layout.html' %}

{% block additional_header_imports %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" crossorigin="anonymous">
{% endblock %}
		
<!--
 https://stackoverflow.com/questions/29063244/consistent-styling-for-nested-lists-with-bootstrap
-->
		
{% block inline_style %}

<style>
.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    /*overflow: hidden;*/
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

/*
.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}
*/

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group-item {
    padding-left: 60px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group >  .list-group > .list-group-item {
    padding-left: 75px;
}

.list-group-item .fa {
    margin-right: 5px;
}


.collapse {
  /*display: none;*/
  &.show {
    display: block;
  }
}

</style>

{% endblock %}
	
{% block body %}

<body>

<div class="just-padding">
  <div class="list-group list-group-root well">
	{%- for item in data_tree recursive %}
		{%- if item.obj %}
		<a href="#
		    {%- if item.children -%}
			x{{ item.id }}
			{%- endif -%}
		" class="list-group-item list-group-item-action 
			{%- if item.children %} " data-toggle="collapse
			{%- endif -%}
		">

			{%- if item.children %}
			<i class="fa fa-caret-right"></i>
			{%- endif %}
		{{- item.obj.name }}
		</a>
		
		{%- endif %}
		
		{%- if item.children %}
		<div class="list-group collapse" id="x{{ item.id }}">
			{{ loop(item.children) }}
		</div>
		{% endif %}
	{%- endfor %}
  </div>
</div>  

<!---------------------------------------------------------------->

<!--
<div class="just-padding">
  <div class="list-group list-group-root well">
	{%- for item in data_tree recursive %}
		{%- if item.obj %}
		<a href="#
		    {%- if item.children -%}
			{{ item.id }}
			{%- endif -%}
		" class="list-group-item list-group-item-action 
			{%- if item.children %} " data-toggle="collapse
			{%- endif -%}
		">

			{%- if item.children %}
			<i class="fa fa-caret-right"></i>
			{%- endif %}
		{{- item.obj.name }}
		</a>
		
		{%- endif %}
		
		{%- if item.children %}
		<div class="list-group collapse" id="{{ item.id }}">
			{{ loop(item.children) }}
		</div>
		{% endif %}
	{%- endfor %}
  </div>
</div>  


<div class="just-padding">
  <div class="list-group list-group-root">
		<a href="#231fbee5-4354-46f3-b45e-ef96595ca440" class="list-group-item list-group-item-action" data-toggle="collapse">
			<i class="fa fa-caret-right"></i>~ROOT~
		</a>
		<div class="list-group collapse" id="231fbee5-4354-46f3-b45e-ef96595ca440">
		
			<a href="#a3cb98fb-50b7-4843-aaa8-e06c88b397d6" class="list-group-item list-group-item-action " data-toggle="collapse">
				<i class="fa fa-caret-right"></i>Activities of Daily Living
			</a>
			<div class="list-group collapse" id="a3cb98fb-50b7-4843-aaa8-e06c88b397d6">
				
				<a href="#e4e6eb89-f129-4b73-9d2d-9fd9bb3d8584" class="list-group-item list-group-item-action " data-toggle="collapse">
					<i class="fa fa-caret-right"></i>Chores
				</a>
				<div class="list-group collapse" id="e4e6eb89-f129-4b73-9d2d-9fd9bb3d8584">
					
					<a href="#" class="list-group-item list-group-item-action">Vacuuming
					</a>
					<a href="#" class="list-group-item list-group-item-action">Dishes
					</a>
					<a href="#" class="list-group-item list-group-item-action">Laundry
					</a>
					<a href="#" class="list-group-item list-group-item-action">Trash
					</a>
					<a href="#" class="list-group-item list-group-item-action">Cooked
					</a>
				</div>
			
			
			</div>
		
		
		</div>
  </div>
</div> 


-->



<div class="just-padding">

  <div class="list-group list-group-root">

    <a href="#a231fbee5" class="list-group-item list-group-item-action" data-toggle="collapse">
      <i class="fa fa-caret-right"></i>Item 1
    </a>
    <div class="list-group collapse" id="a231fbee5">

      <a href="#item-1-1" class="list-group-item list-group-item-action" data-toggle="collapse">
        <i class="fa fa-caret-right"></i>Item 1.1
      </a>
	  
      <div class="list-group collapse" id="item-1-1">
        <a href="#" class="list-group-item list-group-item-action">Item 1.1.1</a>
        <a href="#" class="list-group-item list-group-item-action">Item 1.1.2</a>
      </div>

    </div> 
  </div>
  
</div>

<!---------------------------------------------------------------->

<!--

<div class="just-padding">

  <div class="list-group list-group-root">

    <a href="#item-1" class="list-group-item list-group-item-action" data-toggle="collapse">
      <i class="fa fa-caret-right"></i>Item 1
    </a>
    <div class="list-group collapse" id="item-1">

      <a href="#item-1-1" class="list-group-item list-group-item-action" data-toggle="collapse">
        <i class="fa fa-caret-right"></i>Item 1.1
      </a>
	  
      <div class="list-group collapse" id="item-1-1">
        <a href="#" class="list-group-item list-group-item-action">Item 1.1.1</a>
        <a href="#" class="list-group-item list-group-item-action">Item 1.1.2</a>
      </div>

    </div> 
  </div>
  
</div>

-->

<!---------------------------------------------------------------->

<!--
<ul class="sitemap">
{%- for item in data_tree recursive %}
	{%- if item.obj -%}
	<li> <a class="btn btn-primary" href="/checkin/{{ item.obj.name }}/{{ item.id }}">{{ item.obj.name }}</a>
	{%- endif -%}
    {%- if item.children -%}
        <ul class="submenu">{{ loop(item.children) }}</ul>
    {%- endif %}</li>
{%- endfor %}
</ul>

{{ data_tree|pprint }}

-->

<script>

//https://stackoverflow.com/questions/29063244/consistent-styling-for-nested-lists-with-bootstrap



$(function() {
        
  $('.list-group-item').on('click', function() {
    $('.fa', this)
      .toggleClass('fa-caret-right')
      .toggleClass('fa-caret-down');
  });

});

//$('.collapse').collapse();

</script>

{% endblock %}