{% extends 'layout.html' %}

{% block additional_header_imports %}
		<script src="https://d3js.org/d3.v5.min.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" crossorigin="anonymous">
{% endblock %}
		
<!--
 https://stackoverflow.com/questions/29063244/consistent-styling-for-nested-lists-with-bootstrap
-->
		
{% block inline_style %}

<style>
.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    /*overflow: hidden;*/
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

/*
.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}
*/

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group-item {
    padding-left: 60px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group >  .list-group > .list-group-item {
    padding-left: 75px;
}

.list-group-item .fa {
    margin-right: 5px;
}


.collapse {
  /*display: none;*/
  &.show {
    display: block;
  }
}

</style>

{% endblock %}
	
{% block body %}

<body>




<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Checkin</a>
  
  <form class="form-inline">
	<input type="datetime-local" name="datetime" id="datetime" class="form-control mr-sm-2">
	<!--
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="submitData">Submit</button>
	-->
	<button class="btn btn-outline-success my-2 my-sm-0" type="button" id="submitData">Submit</button>
  </form>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
  
</nav>


{% macro make_input_radios(item, minval=1, maxval=5) -%}
	{% for i in range(minval, maxval+1) %}
		<div class="col-xs-12 form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="inlineRadio{{ item.obj.id }}" id="inlineRadio{{ item.obj.id }}{{ i }}" value="{{ i }}" data-eventTypeId="{{ item.obj.id }}">
		  <label class="form-check-label" for="inlineRadio{{ item.obj.id }}{{ i }}">{{ i }}</label>
		</div>
	{% endfor %}
{%- endmacro %}

{% macro make_input_textfield(item) -%}
		<div class="col-xs-12 form-group">
		  <input class="form-control" type="text" name="inlineText{{ item.obj.id }}" id="inlineText{{ item.obj.id }}" placeholder="{{ item.obj.name }}" data-eventTypeId="{{ item.obj.id }}">
		  <label class="sr-only" for="inlineText{{ item.obj.id }}">{{ item.obj.name }}</label>
		</div>
{%- endmacro %}

{% macro make_input_checkbox(item) -%}
		<div class="col-xs-12 form-check form-check-inline">
		  <input class="form-check-input" type="checkbox" name="inlineCheck{{ item.obj.id }}" id="inlineCheck{{ item.obj.id }}" data-eventTypeId="{{ item.obj.id }}" value=1>
		</div>
{%- endmacro %}

<div class="container">
	<div class="row">
		<div class="col-6 btn-group ">
		Welcome Back! Last checkin: <p id="time-since-last-interaction">
		</div>
	</div>
</div>

<div class="just-padding">
  <div class="list-group list-group-root ">
	{%- for item in data_tree recursive %}
		{%- if item.obj %}
		<div class="container">
		<div class="row">
		<div class="col-6 btn-group offset-{{ item.depth }}" role="group">

			<a id="expando{{ item.obj.id }}"
			   href="#
				{%- if item.children -%}
				x{{ item.id }}
				{%- endif -%}
			" class="list-group-item list-group-item-action 
				{%- if item.children %} " data-toggle="collapse
				{%- endif -%}
			">

				{%- if item.children %}
				<i class="fa fa-caret-right"></i>
				{%- endif %}
			    {{- item.obj.name }}
			</a>
			

			
			<!--href="#" -->
			<a 
			   class="btn list-group-item list-group-item-action"
			   data-toggle="modal"
			   data-target="#modalEdit{{ item.id }}">
				<i class="fa fa-edit"></i>
		    </a>
			
		</div>
		{%- if item.obj.is_checkinable and (item.obj.id in et_interfaces)  -%}
			{%- if et_interfaces[item.obj.id].input_type == 'radios' -%}
				{{ make_input_radios(item, 
									 et_interfaces[item.obj.id].minval, 
									 et_interfaces[item.obj.id].maxval) }}
			{%- elif et_interfaces[item.obj.id].input_type == 'text' -%}
				{{ make_input_textfield(item) }}
			{%- elif et_interfaces[item.obj.id].input_type == 'checkbox' -%}
				{{ make_input_checkbox(item) }}	 
			{%- endif -%} <!-- if et_interfaces... -->
		{%- endif -%} <!--if item.obj.is_checkinable-->
		</div>
		</div>
			
		{%- endif %} <!-- if item.obj -->
		
		{%- if item.children %}
		<div class="list-group collapse" id="x{{ item.id }}">
			{{ loop(item.children) }}
		</div>
		{% endif %} <!-- if item.children --> 
	{%- endfor %}
  </div>
</div>  

{% include 'edit_event_type_modal.html' %}

<script>

//https://stackoverflow.com/questions/29063244/consistent-styling-for-nested-lists-with-bootstrap

$(function() {   
  $('.list-group-item').on('click', function() {
	$('.fa-caret-right.fa-caret-down', this)
      .toggleClass('fa-caret-right')
      .toggleClass('fa-caret-down');
  });
});

 $('select.val-type').on('change', function () {
   $(".val-type-minimax").toggle(this.value == 'range');
 });

///////////////////////////////////////////////////

var default_date = new Date();
default_date.setMinutes(default_date.getMinutes() - default_date.getTimezoneOffset())
d3.selectAll('input#datetime').attr('value', default_date.toJSON().slice(0,19));

///////////////////////////////////////////////////

function _collectRadioItems(timestamp){
	let items_radio = $("input[name^='inlineRadio']:checked").serializeArray();
	
	items_radio.map(function(d) {
		d['event_type'] = d['name'].slice(11);
		d['timestamp'] = timestamp;
		delete d.name;
		});
		
	return items_radio;
}

function _collectCheckItems(timestamp){
	let items_check = $("input[name^='inlineCheck']:checked").serializeArray();
	
	items_check.map(function(d) {
		d['event_type'] = d['name'].slice(11);
		d['timestamp'] = timestamp;
		delete d.name;
		});
		
	return items_check;
}

function _collectTextItems(timestamp){
	let items_text = $('input[name^="inlineText"]')
		.filter(function() { 
			return $(this).val(); })
		.serializeArray();
		
	items_text.map(function(d) {
		d['comments'] = d['value'];
		d['event_type'] = d['name'].slice(10);
		d['timestamp'] = timestamp;
		delete d.name;
		delete d.value;
		});
		
	return items_text;
}


function _sendJSON(){ 
    
	console.log("_sendJSON() activated");
	const timestamp = new Date(d3.select('input#datetime').node().value);
	
	let payload = [
		..._collectRadioItems(timestamp),
		..._collectCheckItems(timestamp),
		..._collectTextItems(timestamp)
		];
	console.log("Payload", payload);

	let xhr = new XMLHttpRequest(); 
	let url = "/checkinmany/"; 
	const data = JSON.stringify(payload);
	console.log(data);
	
	xhr.onreadystatechange = function()
    {
        if (xhr.readyState == 4 && xhr.status == 200)
        {
            //callback(xhr.responseText); // Another callback here
			location.reload(true);
		}
    }; 
	
	xhr.open("POST", url, true); 
	xhr.setRequestHeader("Content-Type", "application/json"); 
	xhr.send(data); 
}

$("button#submitData").click(this, _sendJSON);

//////////////////////////////////////////////////////

const _get_checkin_deltas = async () => {
  //let response = await fetch('/checkin/');
  let response = await fetch('/mostrecent/');
  let json = await response.json();
  console.log(json);
  return json;
}

// modified from 
// https://stackoverflow.com/questions/9860783/calculate-time-elapsed-using-javascript
let time_elapsed_string = function(etime){
    if (etime < 1){
      return '0s';
	}

    let a = {'31536000': 'y',
              '2592000': 'm',
                '86400': 'd',
                 '3600': 'h',
                   '60': 'm',
                    '1': 's'};

    let output = '';
    $.each(a, function(secs, str){
        let d = etime / secs;
        if (d >= 1){
          let r = Math.floor(d);
		  output = r + str;
          return true;
        }
    });
    return output;
  }

$(async () => {
	let json = await _get_checkin_deltas();
	for (let [eventTypeId, obj] of Object.entries(json)) {
		let dt_now = new Date();
		let delta_s = (dt_now - Date.parse(obj.timestamp + 'z')) / 1000;
		let delta_str = time_elapsed_string(delta_s);
		let sla = 86400;
		
		let text_orig = $(`#expando${eventTypeId}`).text();
		let badgeKind = delta_s > sla ? 'badge-light' : 'badge-success';

		$(`#expando${eventTypeId}`).append(`<span class="badge ${badgeKind}">${delta_str}</span>`)
		/*
		<span class="badge badge-success">Success</span>
		<span class="badge badge-light">Light</span>
		*/
	}
	
});

// Mostly redundant with block above, just filling out time since last checkin here.
$(async () => {
	let dt_now = new Date();
	let dt_last = '{{ most_recent_interaction[0] }}' + 'z';
	console.log(dt_last);
	console.log(Date.parse(dt_last));
	let delta_s = (dt_now - Date.parse(dt_last)) / 1000;
	let delta_str = time_elapsed_string(delta_s);
	let sla = 86400;
	
	let badgeKind = delta_s > sla ? 'badge-light' : 'badge-success';

	$(`#time-since-last-interaction`).append(`<span class="badge ${badgeKind}">${delta_str}</span>`)
});

</script>

{% endblock %}