{% block additional_header_imports %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.22.0/pivot.min.js" crossorigin="anonymous"></script>

https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.22.0/plotly_renderers.min.js
https://cdn.plot.ly/plotly-basic-latest.min.js

{% endblock %}

https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.13.0/pivot.min.css


{% block body %}
<!-- https://jsfiddle.net/nicolaskruchten/wqrzsn4g/ -->

<div id="pivot0">
</div>

<script>

data = {{ data }};

$("#pivot0").pivotUI(data, {
    rows: ["timestamp"],
    cols: ["event_type"],
    vals: ["value"],
    aggregatorName: "Maximum",
    rendererName: "Bar Chart",
    renderers: $.extend(
    	$.pivotUtilities.renderers, 
      $.pivotUtilities.plotly_renderers
    )
  });

/*
$("#output").pivotUI(
  $.pivotUtilities.tipsData, {
    rows: ["sex"],
    cols: ["smoker"],
    vals: ["tip", "total_bill"],
    aggregatorName: "Sum over Sum",
    rendererName: "Bar Chart",
    renderers: $.extend(
    	$.pivotUtilities.renderers, 
      $.pivotUtilities.plotly_renderers
    )
  });
*/

</script>

{% endblock %}