{% extends 'layout.html' %}
		
{% block inline_style %}	
	<style>
	#inputFor{{route}} {
		width: 100%;
		max-width: 400px;
		padding: 15px;
		margin: auto;
	}
	</style>
{% endblock %}
		
{% block body %}
	<body class="text-center">
	
		
		<h1 class="h3 mb-3 font-weight-normal">Register Event Type</h1>

<div id="inputFor{{route}}">

	{% for var_name in vars_dict.keys() %}
	
		<div class="form-group">
			<label for="{{ var_name }} "class="sr-only">{{ var_name.title() }}</label>
			<input type="text" id="{{ var_name }}" name="{{ var_name }}" class="form-control" >
		</div>
		
	{% endfor %}

	<hr class="mb-4">
	
	<button class="btn btn-primary btn-lg btn-block" id="formSubmit" onclick="{{ route }}_sendJSON()">Submit</button>

</div>

<script>

function {{ route }}_sendJSON(){ 

	{% for var_name in vars_dict.keys() %}
		let {{ var_name }} = document.querySelector('#{{ var_name }}').value;
	{% endfor %}

	let xhr = new XMLHttpRequest(); 
	let url = "/{{ route }}/"; 
					
	

	let payload = {};

	// https://stackoverflow.com/questions/11704267/in-javascript-how-to-conditionally-add-a-member-to-an-object
	//Object.assign(payload, conditionX && { "{{ var_name }}" : {{ var_name }} };

	{% for var_name, var_type in vars_dict.items() %}
		Object.assign(payload, { "{{ var_name }}" : {{ var_name }} });
	{% endfor %}

	console.log(payload);

	var data = JSON.stringify(payload);
	
	console.log(data);
	
	xhr.open("POST", url, true); 
	xhr.setRequestHeader("Content-Type", "application/json"); 
	xhr.send(data); 
}

</script>
{% endblock %}
