{% extends 'layout.html' %}

{% block additional_header_imports %}
		<script src="https://d3js.org/d3.v5.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block inline_style %}
	<style>
	.full-width-div {
		/*
		position: absolute;
		width: 100%;
		left: 0;
		*/
		width: 100%;
		/*display: flex;   */
		justify-content: center;
	}
	</style>
{% endblock %}

{% block body %}

<!-- https://sensibledev.com/bootstrap-modal-with-ajax-content/ -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="chartId" class="full-width-div">
			</div>
				<!--
				<svg class="sunburst-nav">
-->
       </div>
    </div>
</div>
		
<div id="modal_anchor">
{%- for item in data_tree recursive %}
	{%- if item.obj -%}
			
		<!-- Modal -->
		<div class="modal fade" id="checkinModal_{{ item.obj.id }}" tabindex="-1" role="dialog" aria-labelledby="checkinModalLabel_{{ item.obj.id }}" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="checkinModalLabel_{{ item.obj.id }}">{{ item.obj.name }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				
				<input type="datetime-local" name="datetime" id="datetime">
				{% for field, type in (("value","number"), ("comments", "text") ) %}
				<div class="form-group">
					<label for="{{ field }} "class="sr-only">{{ field }}</label>
					<input type="{{ type }}" placeholder="{{ field }}" id="{{ field }}" name="{{ field }}" class="form-control" >
				</div>
				{% endfor %}
				
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-primary" id="saveModal" data-eventTypeId="{{ item.obj.id }}" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			  </div>
			</div>
		  </div>
		</div>	
			
	
	{%- endif -%}
    {%- if item.children -%}
        {{ loop(item.children) }}
    {%- endif %}
{%- endfor %}
</div>
		
		
		<script>		
		

/*
Default datepicker value
https://stackoverflow.com/questions/6982692/how-to-set-input-type-dates-default-value-to-today
*/
var default_date = new Date();
default_date.setMinutes(default_date.getMinutes() - default_date.getTimezoneOffset())
//document.getElementById('datetime').value = default_date.toJSON().slice(0,19);
d3.selectAll('input#datetime').attr('value', default_date.toJSON().slice(0,19));

// https://stackoverflow.com/questions/948532/how-do-you-convert-a-javascript-date-to-utc
// https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString
if (!Date.prototype.toISOString) {
  (function() {

    function pad(number) {
      if (number < 10) {
        return '0' + number;
      }
      return number;
    }

    Date.prototype.toISOString = function() {
      return this.getUTCFullYear() +
        '-' + pad(this.getUTCMonth() + 1) +
        '-' + pad(this.getUTCDate()) +
        'T' + pad(this.getUTCHours()) +
        ':' + pad(this.getUTCMinutes()) +
        ':' + pad(this.getUTCSeconds()) +
        '.' + (this.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) +
        'Z';
    };

  })();
}


function _sendJSON(){ 
    
	//console.log("_sendJSON() activated");
	//console.log(this.dataset.eventTypeId);
	//console.log(this);
	let event_type_id = $(this).attr("data-eventTypeId");
	console.log(event_type_id);
	
	
	
	let modal = d3.select('#checkinModal_' + event_type_id);
	//{% for var_name in ("datetime", "value", "comments") %}
		//let {{ var_name }} = document.querySelector('#{{ var_name }}').value;
		//let {{ var_name }} = modal.select('input#{{ var_name }}').node().value
	//{% endfor %}
	let comments = modal.select('input#comments').node().value;
	let value = modal.select('input#value').node().value;
	//let datetime = new Date(modal.select('input#datetime').node().value).toISOString();
	let timestamp = new Date(modal.select('input#datetime').node().value);

	

	let xhr = new XMLHttpRequest(); 
	let url = "/checkin/"; 

	//let payload = {"event_type": $(this).attr("data-eventTypeId") };
	let payload = {"event_type": event_type_id,
				   "timestamp": timestamp };


	{% for var_name in ("value", "comments") %}
		Object.assign(payload, ({{ var_name }}.length > 0) && { "{{ var_name }}" : {{ var_name }} });
	{% endfor %}

	console.log(payload);

	var data = JSON.stringify(payload);
	
	console.log(data);
	
	xhr.open("POST", url, true); 
	xhr.setRequestHeader("Content-Type", "application/json"); 
	xhr.send(data); 
	
}

$("button#saveModal").click(this, _sendJSON);



///////////////////////////////////////////////////////////////////////////////////

/*		
const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);
*/
const vw = window.innerWidth;
const vh = window.innerHeight;
	
// https://stackoverflow.com/questions/16265123/resize-svg-when-window-is-resized-in-d3-js
d3.select("div#chartId")
   .append("div")
   // Container class to make it responsive.
   .classed("svg-container", true) 
   .append("svg")
   .classed("sunburst-nav", true)
   // Responsive SVG needs these 2 attributes and no width and height attr.
   //.attr("preserveAspectRatio", "xMinYMin meet") preserveAspectRatio="xMidYMin"
   .attr("preserveAspectRatio", "xMidYMin")
   //.attr("viewBox", "0 0 600 400")
   //.attr("viewBox", "0 0 100 100")
   .attr("viewBox", `0 0 ${vw} ${vw}`)
   // Class to make it responsive.
   .classed("svg-content-responsive", true)
   // Fill with a rectangle for visualization.
   /*.append("rect")
   .classed("rect", true)
   .attr("width", 600)
   .attr("height", 400);
   */
   
///////////////////////////////////////////////////////////////////////////////////

		
/////////////////////////////////////////////////////////////////////		
		
d3.json('/plot_data/').then( function(data){
    console.log(data);
			
	partition = data => {
	  const root = d3.hierarchy(data)
		  .sum(d => d.value)
		  .sort((a, b) => b.value - a.value);
	  return d3.partition()
		  .size([2 * Math.PI, root.height + 1])
		(root);
	}

	let color = d3.scaleOrdinal(d3.quantize(d3.interpolateRainbow, data.children.length + 1));

			
			
	//let width = 932;
	//let width = 600;
	const width = vh;
	const radius = width / 6;

	const arc = d3.arc()
		.startAngle(d => d.x0)
		.endAngle(d => d.x1)
		.padAngle(d => Math.min((d.x1 - d.x0) / 2, 0.005))
		.padRadius(radius * 1.5)
		.innerRadius(d => d.y0 * radius)
		.outerRadius(d => Math.max(d.y0 * radius, d.y1 * radius - 1));
		
		
			
			
			//chart = {
	  const root = partition(data);
	  //const root = partition(d3.json('/plot_data/'));

	  root.each(d => d.current = d);

	  //const svg = d3.create("svg.sunburst-nav")
	  const svg = d3.select("svg")
		  //.attr("viewBox", [0, 0, width, width])
		  .style("font", "10px sans-serif");

	  // top level "g"
	  const g = svg.append("g")
		  .attr("transform", `translate(${width / 2},${width / 2})`);

	  // Arc paths. These are already functioning expand buttons
	  const path = g.append("g")
		.selectAll("path")
		.data(root.descendants().slice(1))
		.join("path")
		  .attr("fill", d => { while (d.depth > 1) d = d.parent; return color(d.data.name); })
		  .attr("fill-opacity", d => arcVisible(d.current) ? (d.children ? 0.6 : 0.4) : 0)
		  .attr("d", d => arc(d.current));
	  
	  // Selector for g that keeps text and rect together for labels.
	  // They're all nested under their own g
	  const labelg = g.append("g")
		  .attr("class", "labels")
		  .selectAll("g.individual_label")
		  .data(root.descendants().slice(1))
		  .join("g")
		  .attr("class", "individual_label")
		  //.attr("pointer-events", "none")
		  //.attr("pointer-events", "visiblePoint")
		  .attr("text-anchor", "middle")
		  //.style("user-select", "none")
		  .attr("id", d => "g_" + d.data.name)
		  //
		  .attr("fill-opacity", d => +labelVisible(d.current))
		  .attr("transform", d => labelTransform(d.current))
		  //.append('a')
		  //.attr('href', d => `checkin/${d.data.name}/${d.data.id}`)
	  ;
	  
	  // box around label text. Struggling to turn this into a clickable button.
	  // path click event overrides for some reason
	  const label_box = labelg
		  //.append('a')
		  //.attr('href', d => `checkin/${d.data.name}/${d.data.id}`)
		  .append('rect')
		  .attr("width", d => d.data.name.length * 6) // rough estimate. good enough for now
		  .attr("height", 12)
		  .attr("rx", 3)
		  .attr("y", "-5")
		  .attr("x", d => -1*( d.data.name.length * 6) / 2 )
		  .attr("stroke", "black")
		  .attr("stroke-opacity", d => +labelVisible(d.current))
		  //.attr("opacity", d => +labelVisible(d.current))
		  .attr("fill", "none")
		  .style("cursor", "grab")
		  ////////////
		  .attr("stroke", "none")
	  ;
		
	  const label_text = labelg.append('a')
		  //.attr('href', d => `checkin/${d.data.name}/${d.data.id}`)
		  .attr('data-toggle', 'modal')
		  .attr('data-target', d => `#checkinModal_${d.data.id}`)
		  .append('text')
		  .attr("dy", "0.35em")
		  .text(d => d.data.name);
	  

	  // Not sure what purpose the filter operation serves here.
	  // Also unclear why this function binding seems to block my attempts to bind
	  // functions to elements that are on top of the path.
	  // Maybe because I attach the path after I attach the labels?
	  // ... yup, that was it. After moving the path def up, everything seems to be working
	  path.filter(d => d.children)
		  .style("cursor", "pointer")
		  .on("click", clicked);
	  
	  //labelg.filter(d => d.children)
	  labelg.style("cursor", "grab")
		  //.on("click", d => console.log(d))
		  .append("title")
		  .text(d => "Checkin " + d.data.name)
	  ;

	  path.append("title")
		  //.text(d => `${d.ancestors().map(d => d.data.name).reverse().join(">")}\n${format(d.value)}`);
		  .text(d => `${d.children? 'Expand ': ''}${breadcrumbs(d)}`)
	  ;

	  const parent = g.append("circle")
		  .datum(root)
		  //.attr("class", "HEROOOOO!")
		  .attr("r", radius)
		  .attr("fill", "none")
		  .attr("pointer-events", "all")
		  .on("click", clicked)
	  ;
	  
	  const parent_title = parent.append('title');
	  
	  const parent_label = parent.append('text')
		  .attr("text-anchor", "middle")
		  .attr("fill", "black")
	  ;
	  
	  function breadcrumbs(d) { 
		return `${d.ancestors().map(d => d.data.name).reverse().slice(1).join(" > ")}`
	  }
	  
	  
	  
	  
	  function clicked(p) {
		parent.datum(p.parent || root);
		
		if (p.parent) {
		  parent_label.text(breadcrumbs(p)); // appears in DOM but not on screen
		  parent_title.text("Click to go back")
		} else {
		  parent_label.text(null);
		  parent_title.text(null);
		}

		root.each(d => d.target = {
		  x0: Math.max(0, Math.min(1, (d.x0 - p.x0) / (p.x1 - p.x0))) * 2 * Math.PI,
		  x1: Math.max(0, Math.min(1, (d.x1 - p.x0) / (p.x1 - p.x0))) * 2 * Math.PI,
		  y0: Math.max(0, d.y0 - p.depth),
		  y1: Math.max(0, d.y1 - p.depth)
		});

		const t = g.transition().duration(750);

		// Transition the data on all arcs, even the ones that aren’t visible,
		// so that if this transition is interrupted, entering arcs will start
		// the next transition from the desired position.
		path.transition(t)
			.tween("data", d => {
			  const i = d3.interpolate(d.current, d.target);
			  return t => d.current = i(t);
			})
		  .filter(function(d) {
			return +this.getAttribute("fill-opacity") || arcVisible(d.target);
		  })
			.attr("fill-opacity", d => arcVisible(d.target) ? (d.children ? 0.6 : 0.4) : 0)
			.attrTween("d", d => () => arc(d.current));

		//label.filter(function(d) {
		labelg.filter(function(d) {
			return +this.getAttribute("fill-opacity") || labelVisible(d.target);
		  }).transition(t)
			.attr("fill-opacity", d => +labelVisible(d.target))
			.attrTween("transform", d => () => labelTransform(d.current));
		
		label_box.filter(function(d) {
			return +this.getAttribute("stroke-opacity") || labelVisible(d.target);
		  }).transition(t)
			.attr("stroke-opacity", d => +labelVisible(d.target))
		   ;
		
	  } // end clicked()
	  

	  
	  function arcVisible(d) {
		return d.y1 <= 3 && d.y0 >= 1 && d.x1 > d.x0;
	  }

	  function labelVisible(d) {
		return d.y1 <= 3 && d.y0 >= 1 && (d.y1 - d.y0) * (d.x1 - d.x0) > 0.03;
	  }

	  function labelTransform(d) {
		const x = (d.x0 + d.x1) / 2 * 180 / Math.PI;
		const y = (d.y0 + d.y1) / 2 * radius;
		return `rotate(${x - 90}) translate(${y},0) rotate(${x < 180 ? 0 : 180})`;
	  }

	  //return svg.node();
	//}
			
});
		
		
		</script>


{% endblock %}