{% extends 'layout.html' %}

{% block additional_header_imports %}
		<script src="https://d3js.org/d3.v5.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block inline_style %}
	<style>
	.full-width-div {
		position: absolute;
		width: 100%;
		left: 0;
	}
	</style>
{% endblock %}

{% block body %}

<!-- https://sensibledev.com/bootstrap-modal-with-ajax-content/ -->

<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
		-->
            <div id="chartId" class="full-width-div">
			
				<!--
				<svg class="sunburst-nav">
			
            </div>
        </div>
    </div>
</div>
-->

		
<div id="modal_anchor">
{%- for item in data_tree recursive %}
	{%- if item.obj -%}
			
		<!-- Modal -->
		<div class="modal fade" id="checkinModal_{{ item.obj.id }}" tabindex="-1" role="dialog" aria-labelledby="checkinModalLabel_{{ item.obj.id }}" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="checkinModalLabel_{{ item.obj.id }}">{{ item.obj.name }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				
				<input type="datetime-local" name="datetime" id="datetime">
				{% for field, type in (("value","number"), ("comments", "text") ) %}
				<div class="form-group">
					<label for="{{ field }} "class="sr-only">{{ field }}</label>
					<input type="{{ type }}" placeholder="{{ field }}" id="{{ field }}" name="{{ field }}" class="form-control" >
				</div>
				{% endfor %}
				
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-primary" id="saveModal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  </div>
			</div>
		  </div>
		</div>	
			
	
	{%- endif -%}
    {%- if item.children -%}
        {{ loop(item.children) }}
    {%- endif %}
{%- endfor %}
</div>
		
		
		<script>		
		

/*
Default datepicker value
https://stackoverflow.com/questions/6982692/how-to-set-input-type-dates-default-value-to-today
*/
var default_date = new Date();
default_date.setMinutes(default_date.getMinutes() - default_date.getTimezoneOffset())
//document.getElementById('datetime').value = default_date.toJSON().slice(0,19);
d3.selectAll('input#datetime').attr('value', default_date.toJSON().slice(0,19));

function _sendJSON(){ 
	console.log("_sendJSON() called");
}


///////////////////////////////////////////////////////////////////////////////////

		
const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);
		
// https://stackoverflow.com/questions/16265123/resize-svg-when-window-is-resized-in-d3-js
d3.select("div#chartId")
   .append("div")
   // Container class to make it responsive.
   .classed("svg-container", true) 
   .append("svg")
   .classed("sunburst-nav", true)
   // Responsive SVG needs these 2 attributes and no width and height attr.
   .attr("preserveAspectRatio", "xMinYMin meet")
   //.attr("viewBox", "0 0 600 400")
   .attr("viewBox", `0 0 ${vw} ${vh}`)
   // Class to make it responsive.
   .classed("svg-content-responsive", true)
   // Fill with a rectangle for visualization.
   /*.append("rect")
   .classed("rect", true)
   .attr("width", 600)
   .attr("height", 400);
   */
   
///////////////////////////////////////////////////////////////////////////////////

data = {'name':'root',
         'id':'0', 
         'is_checkinable':false,
         'value':0,
         'children': [
           
           {'id': '2604a060-1791-4dbd-8220-b108cab47e3e', 
 'name': 'Skills', 
 'is_checkinable': false, 
 'value':0,
 'parent_id':'0',
 'children': [
   
   {'id': 'bbb85091-f1ec-4ccf-83d3-e60694eeddc8', 
		 'name': 'ACT Skills', 
		 'is_checkinable': false, 
		 'value': 0,
		 'parent_id': '2604a060-1791-4dbd-8220-b108cab47e3e',
		'children': [
			{'id': '109b1359-163c-478f-a114-4c730f610c22', 
			 'name': 'Defusion', 
			 'is_checkinable': true, 
			 'value': 1,
			 'parent_id': 'bbb85091-f1ec-4ccf-83d3-e60694eeddc8'}, 
			{'id': '9627142e-1d7c-45f5-ac48-8ee493ac283b', 
			 'name': 'Expansion', 
			 'is_checkinable': true, 
			 'value': 1,
			 'parent_id': 'bbb85091-f1ec-4ccf-83d3-e60694eeddc8'}, 
			{'id': '35ab5599-b5dc-4a47-95d5-4cbcd8eb2880', 
			 'name': 'Contact With Present Moment', 
			 'is_checkinable': true, 
			 'value': 1,
			 'parent_id': 'bbb85091-f1ec-4ccf-83d3-e60694eeddc8'}, 
			{'id': '626b07db-c0ae-4c15-a0e0-9c2e7eb27d20', 
			 'name': 'Self as Context', 
			 'is_checkinable': true, 
			 'value': 1,
			 'parent_id': 'bbb85091-f1ec-4ccf-83d3-e60694eeddc8'}] 
		},
   
   {'id': '0535afff-4e81-4433-8003-66d6f968b0c1', 
			 'name': 'Interpersonal Effectiveness Skills', 
			 'is_checkinable': false, 
       'value':0,
			 'parent_id': '2604a060-1791-4dbd-8220-b108cab47e3e',
			 'children': [
				{'id': 'd94c2de8-71ba-42f8-9889-b3ebd312c5bd', 
				 'name': 'DEAR MAN', 
				 'is_checkinable': true, 
         'value':1,
				 'parent_id': '0535afff-4e81-4433-8003-66d6f968b0c1'}, 
				{'id': 'dd2404a5-25a8-46cf-a246-f09be0ce9653', 
				 'name': 'GIVE', 
				 'is_checkinable': true,
         'value':1,
				 'parent_id': '0535afff-4e81-4433-8003-66d6f968b0c1'}, 
				{'id': '14727435-0691-438d-90ee-9d332bd1dc0a', 
				 'name': 'FAST', 
				 'is_checkinable': true, 
         'value':1,
				 'parent_id': '0535afff-4e81-4433-8003-66d6f968b0c1'}, 
				{'id': '153205f3-e5d7-469e-ae31-f05bd5531e3b', 
				 'name': 'Clarified Goals', 
				 'is_checkinable': true, 
         'value':1,
				 'parent_id': '0535afff-4e81-4433-8003-66d6f968b0c1'}, 
				{'id': '12e215ab-cf08-4463-bc59-eeabeb9d0a0b', 
				 'name': 'Build/Attend Relationships', 
				 'is_checkinable': true, 
         'value':1,
				 'parent_id': '0535afff-4e81-4433-8003-66d6f968b0c1'}]
			},
   
   {'id': '080eb5bd-ecf4-4003-9430-b43e16fe8579', 
		 'name': 'Distress Tolerance Skills', 
		 'is_checkinable': false, 
     'value':0,
		 'parent_id': '2604a060-1791-4dbd-8220-b108cab47e3e',
		 'children': [
			{'id': '080b9e31-a22a-475a-9c98-4be4aad54130', 
			 'name': 'Radical Acceptance', 
			 'is_checkinable': true, 
       'value':1,
			 'parent_id': '080eb5bd-ecf4-4003-9430-b43e16fe8579'}, 
			{'id': '570c9da8-3dd4-4b27-8544-0fbf95267689', 
			 'name': 'IMPROVE (Distract)', 
			 'is_checkinable': true, 
       'value':1,
			 'parent_id': '080eb5bd-ecf4-4003-9430-b43e16fe8579'}, 
			{'id': 'a3ab3900-9356-4b3d-a9c6-99861679f03e', 
			 'name': 'STOP', 
			 'is_checkinable': true, 
       'value':1,
			 'parent_id': '080eb5bd-ecf4-4003-9430-b43e16fe8579'}, 
			{'id': '4102f39b-f5c8-48b2-97c3-f6aa493da1c3', 
			 'name': 'Paired Muscle Relaxation', 
			 'is_checkinable': true, 
       'value':1,
			 'parent_id': '080eb5bd-ecf4-4003-9430-b43e16fe8579'}, 
		    {'id': 'a26bb1b3-6914-4247-934f-2d456c816e95', 
			 'name': 'TIPP', 
			 'is_checkinable': true, 
       'value':1,
 			 'parent_id': '080eb5bd-ecf4-4003-9430-b43e16fe8579'}]
			}, 
   
   {'id': '550aa8ee-0cba-460b-9c3b-08208e74c03d', 
	 'name': 'Emotion Regulation Skills', 
	 'is_checkinable': false, 
    'value':0,
	 'parent_id': '2604a060-1791-4dbd-8220-b108cab47e3e',
	 'children': [
      {'id': '0a97965f-bd60-4b3c-be6b-35034fe1a7df', 
      'name': 'Accumulate Positive Emotions', 
      'is_checkinable': true, 
       'value':1,
      'parent_id': '550aa8ee-0cba-460b-9c3b-08208e74c03d'}, 
        {'id': '899b0c63-a3a9-463c-b43e-aa01605a601b', 
       'name': 'Build Mastery', 
       'is_checkinable': true, 
         'value':1,
       'parent_id': '550aa8ee-0cba-460b-9c3b-08208e74c03d'}, 
      {'id': '3c92e1ca-0360-4bc2-aa33-88cb7244fb7e', 
       'name': 'Opposite Action', 
       'is_checkinable': true, 
       'value':1,
       'parent_id': '550aa8ee-0cba-460b-9c3b-08208e74c03d'}, 
      {'id': '4047e5a9-b070-4cae-9536-9f4b5fa1ea19', 
       'name': 'Check The Facts', 
       'is_checkinable': true, 
       'value':1,
       'parent_id': '550aa8ee-0cba-460b-9c3b-08208e74c03d'}]
    },	
   
	{'id': 'd17470cc-702a-4afc-ad98-30e65de8a27a', 
	 'name': 'Mindfulness Skills', 
	 'is_checkinable': false,
     'value':0,	 
	 'parent_id': '2604a060-1791-4dbd-8220-b108cab47e3e',
	 'children': [
      {'id': 'a7195994-0f6f-4f26-8f76-37a629f30458', 
       'name': 'Observe/Describe', 
       'is_checkinable': true, 
       'value':1,
       'parent_id': 'd17470cc-702a-4afc-ad98-30e65de8a27a'}, 
      {'id': '69e5fd15-4553-4940-9856-f051d6d470ad', 
       'name': 'One Mindfully', 
       'is_checkinable': true, 
       'value':1,
       'parent_id': 'd17470cc-702a-4afc-ad98-30e65de8a27a'}		 
	  ]}
         ]}, 
           
           {'id': '78fc5c30-d3c4-40c7-a444-557a8605f161', 
 'name': 'Emotions', 
 'is_checkinable': false, 
 'parent_id':'0',
 'value': 0,
 'children': [
	{'id': 'b5298814-7748-4995-be93-9e1c98d4e6db', 
	 'name': 'Sadness', 
	 'is_checkinable': true, 
	 'value': 1,
	 'parent_id':'78fc5c30-d3c4-40c7-a444-557a8605f161'}, 
    {'id': '6dc171f5-9297-4d80-b03d-21b1f1d739bb', 
     'name': 'Depression', 
     'is_checkinable': true, 
	 'value': 1,
     'parent_id': '78fc5c30-d3c4-40c7-a444-557a8605f161'}, 
	{'id': 'ef4eddda-a8f6-43e0-a73b-3ba7253faecc', 
	 'name': 'Guilt', 
	 'is_checkinable': true, 
	 'value': 1,
	 'parent_id': '78fc5c30-d3c4-40c7-a444-557a8605f161'}, 
	{'id': 'd321e4e9-d262-4b60-aaa4-06a5c2cd4aa8', 
	 'name': 'Shame', 
	 'is_checkinable': true, 
	 'value': 1,
	 'parent_id': '78fc5c30-d3c4-40c7-a444-557a8605f161'}, 
	{'id': '17f9a304-be2c-47e2-928e-926be007b44f', 
	 'name': 'Anger', 
	 'is_checkinable': true,
	 'value': 1,
	 'parent_id': '78fc5c30-d3c4-40c7-a444-557a8605f161'}, 
	{'id': '4a602b89-4e8e-499c-ada7-e1037558d1b4', 
	 'name': 'Frustration', 
	 'is_checkinable': true, 
	 'value': 1,
	 'parent_id': '78fc5c30-d3c4-40c7-a444-557a8605f161'}, 
	{'id': 'bfbff7e5-ca09-4423-9de1-50cdd7e530b4', 
	 'name': 'Fear', 
	 'is_checkinable': true, 
	 'value': 1,
	 'parent_id': '78fc5c30-d3c4-40c7-a444-557a8605f161'}, 
	 {'id': '596a37fd-854b-413c-96d8-74b0024f4293', 
	  'name': 'Anxiety', 
	  'is_checkinable': true, 
	  'parent_id': '78fc5c30-d3c4-40c7-a444-557a8605f161'}, 
	 {'id': 'e20ac4d0-87fe-4fda-a5f3-edbce00c937c', 
	  'name': 'Joy', 
	   'is_checkinable': true,
       'value': 1,	   
	   'parent_id': '78fc5c30-d3c4-40c7-a444-557a8605f161'}, 
	  {'id': '3db19ece-911a-404a-b7ae-30a443e3009c', 
	   'name': 'Accomplishment', 
	   'is_checkinable': true, 
	   'value': 1,
	   'parent_id': '78fc5c30-d3c4-40c7-a444-557a8605f161'}
	]},
           {'id': '63ac8cc7-b5bb-49f4-b601-971750b30015', 
 'name': 'Activities of Daily Living', 
 'is_checkinable': false, 
 'parent_id':'0',
 'value':0,
 'children':[
   {'name': 'Meals', 
 'is_checkinable': false, 
 'value':0,
 'parent_id': '63ac8cc7-b5bb-49f4-b601-971750b30015',
 'id': '03acc404-340f-4729-92ac-761440e2facc',
 'children': [
	{'id': '49ef1952-6660-4c08-935f-5235cfee9af3',
	 'name': 'Breakfast', 
	 'is_checkinable': true, 
   'value':1,
	 'parent_id': '03acc404-340f-4729-92ac-761440e2facc'}, 
	{'id': 'e6c9714b-1490-48ad-afb6-a62426fb63f5', 
	 'name': 'Lunch', 
	 'is_checkinable': true, 
   'value':1,
	 'parent_id': '03acc404-340f-4729-92ac-761440e2facc'}, 
    {'id': 'b3bdedc0-733c-47e7-af2c-df0e793e9120', 
	 'name': 'Dinner', 
	 'is_checkinable': true, 
   'value':1,
	 'parent_id': '03acc404-340f-4729-92ac-761440e2facc'}, 
	{'id': '5972f251-805c-4a03-8669-dd3e31b652ca', 
	'name': 'Snacking', 
	'is_checkinable': true, 
  'value':1,
	'parent_id': '03acc404-340f-4729-92ac-761440e2facc'}
]},
   {'id': 'cdca233f-120f-4652-8fbd-54ceb330a435', 
 'name': 'Hygiene', 
 'is_checkinable': false, 
 'parent_id': '63ac8cc7-b5bb-49f4-b601-971750b30015',
 'value':0,
 'children': [
	{'id': '71be4195-5619-4f48-a3ad-25f8c2fdff5c', 
	 'name': 'Brushed Teeth', 
	 'is_checkinable': true, 
	 'value':1,
	 'parent_id': 'cdca233f-120f-4652-8fbd-54ceb330a435'}, 
	{'id': '03e2a3fd-13a4-47a6-972e-0fb922fee6d3', 
	 'name': 'Showered', 
	 'is_checkinable': true, 
	 'value':1,
	 'parent_id': 'cdca233f-120f-4652-8fbd-54ceb330a435'}, 
	{'id': '05bf138e-a708-474f-844a-cb514ad070cf', 
	 'name': 'Changed Clothes', 
	 'is_checkinable': true, 
	 'value':1,
	 'parent_id': 'cdca233f-120f-4652-8fbd-54ceb330a435'}, 
	{'id': '3bd51e64-35c7-4716-9029-b151f7a13231', 
	 'name': 'Medications', 
	 'is_checkinable': true, 
	 'value':1,
	 'parent_id': 'cdca233f-120f-4652-8fbd-54ceb330a435'}, 
	{'id': '67628ac8-eea7-41a2-a579-fcb5a4cfad66', 
	'name':'Toenails', 
	'is_checkinable': true, 
	'value':1,
	'parent_id': 'cdca233f-120f-4652-8fbd-54ceb330a435'}, 
   {'id': '68b965ee-eaa1-4249-a08f-bce0299760fd', 
    'name': 'Beard', 
	'is_checkinable': true, 
	'value':1,
	'parent_id': 'cdca233f-120f-4652-8fbd-54ceb330a435'}, 
   {'id': 'ab0e2cac-26ec-411c-b24f-873ca7839dbf', 
    'name': 'Body Hair', 
	'is_checkinable': true, 
	'value':1,
	'parent_id': 'cdca233f-120f-4652-8fbd-54ceb330a435'}]},
	{'children': [ 
		{'id': '9d61252a-dbc2-44e3-bca0-365c2bb2ce04', 
		 'name': 'Vacuuming',
		 'is_checkinable': true, 
     'value':1,
		 'parent_id': '41dea464-05fe-4bd4-afd3-07a2353c2bb8'}, 
		{'id': 'f5bd75ef-4a3e-4067-b928-d134f23a9354',
		 'name': 'Dishes', 
		 'is_checkinable': true,
     'value':1,
		 'parent_id': '41dea464-05fe-4bd4-afd3-07a2353c2bb8'}, 
		{'id': '2a344b17-67a7-4b4f-896d-8d25d9b5bb11',
		 'name': 'Laundry', 
		 'is_checkinable': true, 
     'value':1,
		 'parent_id': '41dea464-05fe-4bd4-afd3-07a2353c2bb8'}, 
		{'id': '086cd868-0de5-4f37-ba03-996948ad922a', 
		 'name': 'Trash', 
		 'is_checkinable': true, 
     'value':1,
		 'parent_id': '41dea464-05fe-4bd4-afd3-07a2353c2bb8'}, 
		{'id': '31eb571b-714c-4141-8a49-0870df6e7da1', 
		 'name': 'Cooked', 
		 'is_checkinable': true, 
     'value':1,
		 'parent_id': '41dea464-05fe-4bd4-afd3-07a2353c2bb8'}], 
	 'id': '41dea464-05fe-4bd4-afd3-07a2353c2bb8', 
	 'name': 'Chores', 
	 'is_checkinable': false, 
   'value':0,
	 'parent_id': '63ac8cc7-b5bb-49f4-b601-971750b30015'} 
]},
            {'id':'71d35bba-c7bf-41da-b1bd-d9cf7d90397e', 
             'name':'Target Behaviors', 
             'is_checkinable': false, 
             'parent_id':'0',
             'value':0,
             'children':  [
                 {'id': '6dd634e1-cd25-486d-ba09-5b26f60f425c', 
 'name': 'Avoidance/Procrastination', 
  'is_checkinable': false, 
  'value':0,
  'parent_id': '71d35bba-c7bf-41da-b1bd-d9cf7d90397e',
 'children':[
                     {'id': '6dd634e1-0', 
                      'name': 'Avoidance/Procrastination (Urge)', 
                      'is_checkinable': true, 
                      'value':1,
                      'parent_id': '6dd634e1-cd25-486d-ba09-5b26f60f425c'},
                     {'id': '6dd634e1-1', 
                      'name': 'Avoidance/Procrastination (action)', 
                      'is_checkinable': true, 
                      'value':1,
                      'parent_id': '6dd634e1-cd25-486d-ba09-5b26f60f425c'}
                  ]
                 }, 
{'id': 'c83022de-3be3-4be5-8138-aed7403d8b00', 
 'name': 'Negative Self Talk', 
 'is_checkinable': false, 
 'value':0,
 'parent_id': '71d35bba-c7bf-41da-b1bd-d9cf7d90397e',
 'children':[
                     {'id': 'c83022de-0', 
                      'name': 'Negative Self Talk (Urge)', 
                      'is_checkinable': true, 
                      'value':1,
                      'parent_id': 'c83022de-3be3-4be5-8138-aed7403d8b00'},
                     {'id': 'c83022de-1', 
                      'name': 'Negative Self Talk (action)', 
                      'is_checkinable': true, 
                      'value':1,
                      'parent_id': 'c83022de-3be3-4be5-8138-aed7403d8b00'}
                  ]
}, 
{'id': '3c0998ad-4d2a-4734-a7d3-3f258cda3aa9', 
 'name': 'Substance Use', 
 'is_checkinable': false, 
 'value':0,
 'parent_id': '71d35bba-c7bf-41da-b1bd-d9cf7d90397e',
 'children':[
                     {'id': '3c0998ad-0', 
                      'name': 'Substance Use (Urge)', 
                      'is_checkinable': true, 
                      'value':1,
                      'parent_id': '3c0998ad-4d2a-4734-a7d3-3f258cda3aa9'},
                     {'id': '3c0998ad-1', 
                      'name': 'Substance Use (action)', 
                      'is_checkinable': true, 
                      'value':1,
                      'parent_id': '3c0998ad-4d2a-4734-a7d3-3f258cda3aa9'}
                  ]
}, 
{'id': '91d95047-3b21-4c04-8984-94a7a402b3e3', 
 'name': 'Isolation', 
 'is_checkinable': false, 
 'value':0,
 'parent_id': '71d35bba-c7bf-41da-b1bd-d9cf7d90397e',
 'children':[
                     {'id': '91d95047-0', 
                      'name': 'Isolation (Urge)', 
                      'is_checkinable': true, 
                      'value':1,
                      'parent_id': '91d95047-3b21-4c04-8984-94a7a402b3e3'},
                     {'id': '91d95047-1', 
                      'name': 'Isolation (action)', 
                      'is_checkinable': true, 
                      'value':1,
                      'parent_id': '91d95047-3b21-4c04-8984-94a7a402b3e3'}
                  ]
}, 
{'id': '845f908a-4035-418b-90d6-7ae120fc27d8', 
 'name': 'Suicidal Ideation', 
 'is_checkinable': true,
 'value':1, 
 'parent_id': '71d35bba-c7bf-41da-b1bd-d9cf7d90397e'},
                 {'id': '234abdb4-937e-4c92-852c-eda40e331ac0', 
                  'name': 'Rumination', 
                  'is_checkinable': false, 
                  'value':0,
                  'parent_id': '71d35bba-c7bf-41da-b1bd-d9cf7d90397e',
                  'children':[
                     {'id': '234abdb4-0', 
                      'name': 'Rumination (Urge)', 
                      'is_checkinable': true, 
                      'value':1,
                      'parent_id': '234abdb4-937e-4c92-852c-eda40e331ac0'},
                     {'id': '234abdb4-1', 
                      'name': 'Rumination (action)', 
                      'is_checkinable': true, 
                      'value':1,
                      'parent_id': '234abdb4-937e-4c92-852c-eda40e331ac0'}
                  ]
                 },
                 {'id': 'f4a53ca7-733e-4af6-9c68-216a55661bb6', 
                  'name': 'Perfectionism', 
                  'is_checkinable': false, 
                  'value':0,
                  'parent_id': '71d35bba-c7bf-41da-b1bd-d9cf7d90397e',
                  'children':[
                     {'id': 'f4a53ca7-0', 
                      'name': 'Perfectionism (Urge)', 
                      'is_checkinable': true, 
                      'value':1,
                      'parent_id': 'f4a53ca7-733e-4af6-9c68-216a55661bb6'},
                     {'id': 'f4a53ca7-1', 
                      'name': 'Perfectionism (action)', 
                      'is_checkinable': true, 
                      'value':1,
                      'parent_id': 'f4a53ca7-733e-4af6-9c68-216a55661bb6'}
                  ]
                 }]},
            {'id':'fbaa306a-8b27-48f2-95fb-7d7e880f374e', 
             'name': 'Frame of Mind', 
             'is_checkinable': false, 
             'parent_id':'0',
             'value':0,
             'children': [
               {'id': '7659fee9-13ca-4d89-b9ac-e867f82736ee', 
                'name': 'Fixed Mind', 
                'is_checkinable': true, 
                'value':1,
                'parent_id': 'fbaa306a-8b27-48f2-95fb-7d7e880f374e'}, 
              {'id': 'b74c4887-5d42-4f98-a5ec-97628a4dfb8c', 
               'name': 'Fatalistic Mind', 
               'is_checkinable': true, 
               'value':1,
               'parent_id': 'fbaa306a-8b27-48f2-95fb-7d7e880f374e'}, 
             {'id': '513895bd-6060-4823-a463-aae9be6a34ac', 
              'name': 'Flexible Mind', 
              'is_checkinable': true, 
              'value':1,
              'parent_id': 'fbaa306a-8b27-48f2-95fb-7d7e880f374e'}
           ]}
         ]};		
		
		
/////////////////////////////////////////////////////////////////////		
		
partition = data => {
  const root = d3.hierarchy(data)
      .sum(d => d.value)
      .sort((a, b) => b.value - a.value);
  return d3.partition()
      .size([2 * Math.PI, root.height + 1])
    (root);
}

let color = d3.scaleOrdinal(d3.quantize(d3.interpolateRainbow, data.children.length + 1));
		
//let width = 932;
//let width = 600;
const width = vh;
const radius = width / 6;

const arc = d3.arc()
    .startAngle(d => d.x0)
    .endAngle(d => d.x1)
    .padAngle(d => Math.min((d.x1 - d.x0) / 2, 0.005))
    .padRadius(radius * 1.5)
    .innerRadius(d => d.y0 * radius)
    .outerRadius(d => Math.max(d.y0 * radius, d.y1 * radius - 1));
	
	
		
		
		//chart = {
  const root = partition(data);

  root.each(d => d.current = d);

  //const svg = d3.create("svg.sunburst-nav")
  const svg = d3.select("svg")
      //.attr("viewBox", [0, 0, width, width])
      .style("font", "10px sans-serif");

  // top level "g"
  const g = svg.append("g")
      .attr("transform", `translate(${width / 2},${width / 2})`);

  // Arc paths. These are already functioning expand buttons
  const path = g.append("g")
    .selectAll("path")
    .data(root.descendants().slice(1))
    .join("path")
      .attr("fill", d => { while (d.depth > 1) d = d.parent; return color(d.data.name); })
      .attr("fill-opacity", d => arcVisible(d.current) ? (d.children ? 0.6 : 0.4) : 0)
      .attr("d", d => arc(d.current));
  
  // Selector for g that keeps text and rect together for labels.
  // They're all nested under their own g
  const labelg = g.append("g")
      .attr("class", "labels")
      .selectAll("g.individual_label")
      .data(root.descendants().slice(1))
      .join("g")
      .attr("class", "individual_label")
      //.attr("pointer-events", "none")
      //.attr("pointer-events", "visiblePoint")
      .attr("text-anchor", "middle")
      //.style("user-select", "none")
      .attr("id", d => "g_" + d.data.name)
      //
      .attr("fill-opacity", d => +labelVisible(d.current))
      .attr("transform", d => labelTransform(d.current))
	  //.append('a')
	  //.attr('href', d => `checkin/${d.data.name}/${d.data.id}`)
  ;
  
  // box around label text. Struggling to turn this into a clickable button.
  // path click event overrides for some reason
  const label_box = labelg
      //.append('a')
      //.attr('href', d => `checkin/${d.data.name}/${d.data.id}`)
      .append('rect')
      .attr("width", d => d.data.name.length * 6) // rough estimate. good enough for now
      .attr("height", 12)
      .attr("rx", 3)
      .attr("y", "-5")
      .attr("x", d => -1*( d.data.name.length * 6) / 2 )
      .attr("stroke", "black")
      .attr("stroke-opacity", d => +labelVisible(d.current))
      //.attr("opacity", d => +labelVisible(d.current))
      .attr("fill", "none")
      .style("cursor", "grab")
	  ////////////
	  .attr("stroke", "none")
  ;
    
  const label_text = labelg.append('a')
      //.attr('href', d => `checkin/${d.data.name}/${d.data.id}`)
	  .attr('data-toggle', 'modal')
	  .attr('data-target', d => `#checkinModal_${d.data.id}`)
	  .append('text')
      .attr("dy", "0.35em")
      .text(d => d.data.name);
  

  // Not sure what purpose the filter operation serves here.
  // Also unclear why this function binding seems to block my attempts to bind
  // functions to elements that are on top of the path.
  // Maybe because I attach the path after I attach the labels?
  // ... yup, that was it. After moving the path def up, everything seems to be working
  path.filter(d => d.children)
      .style("cursor", "pointer")
      .on("click", clicked);
  
  //labelg.filter(d => d.children)
  labelg.style("cursor", "grab")
      //.on("click", d => console.log(d))
      .append("title")
      .text(d => "Checkin " + d.data.name)
  ;

  path.append("title")
      //.text(d => `${d.ancestors().map(d => d.data.name).reverse().join(">")}\n${format(d.value)}`);
      .text(d => `${d.children? 'Expand ': ''}${breadcrumbs(d)}`)
  ;

  const parent = g.append("circle")
      .datum(root)
      //.attr("class", "HEROOOOO!")
      .attr("r", radius)
      .attr("fill", "none")
      .attr("pointer-events", "all")
      .on("click", clicked)
  ;
  
  const parent_title = parent.append('title');
  
  const parent_label = parent.append('text')
      .attr("text-anchor", "middle")
      .attr("fill", "black")
  ;
  
  function breadcrumbs(d) { 
    return `${d.ancestors().map(d => d.data.name).reverse().slice(1).join(" > ")}`
  }
  
  
  
  
  function clicked(p) {
    parent.datum(p.parent || root);
    
    if (p.parent) {
      parent_label.text(breadcrumbs(p)); // appears in DOM but not on screen
      parent_title.text("Click to go back")
    } else {
      parent_label.text(null);
      parent_title.text(null);
    }

    root.each(d => d.target = {
      x0: Math.max(0, Math.min(1, (d.x0 - p.x0) / (p.x1 - p.x0))) * 2 * Math.PI,
      x1: Math.max(0, Math.min(1, (d.x1 - p.x0) / (p.x1 - p.x0))) * 2 * Math.PI,
      y0: Math.max(0, d.y0 - p.depth),
      y1: Math.max(0, d.y1 - p.depth)
    });

    const t = g.transition().duration(750);

    // Transition the data on all arcs, even the ones that aren’t visible,
    // so that if this transition is interrupted, entering arcs will start
    // the next transition from the desired position.
    path.transition(t)
        .tween("data", d => {
          const i = d3.interpolate(d.current, d.target);
          return t => d.current = i(t);
        })
      .filter(function(d) {
        return +this.getAttribute("fill-opacity") || arcVisible(d.target);
      })
        .attr("fill-opacity", d => arcVisible(d.target) ? (d.children ? 0.6 : 0.4) : 0)
        .attrTween("d", d => () => arc(d.current));

    //label.filter(function(d) {
    labelg.filter(function(d) {
        return +this.getAttribute("fill-opacity") || labelVisible(d.target);
      }).transition(t)
        .attr("fill-opacity", d => +labelVisible(d.target))
        .attrTween("transform", d => () => labelTransform(d.current));
    
    label_box.filter(function(d) {
        return +this.getAttribute("stroke-opacity") || labelVisible(d.target);
      }).transition(t)
        .attr("stroke-opacity", d => +labelVisible(d.target))
       ;
    
  } // end clicked()
  

  
  function arcVisible(d) {
    return d.y1 <= 3 && d.y0 >= 1 && d.x1 > d.x0;
  }

  function labelVisible(d) {
    return d.y1 <= 3 && d.y0 >= 1 && (d.y1 - d.y0) * (d.x1 - d.x0) > 0.03;
  }

  function labelTransform(d) {
    const x = (d.x0 + d.x1) / 2 * 180 / Math.PI;
    const y = (d.y0 + d.y1) / 2 * radius;
    return `rotate(${x - 90}) translate(${y},0) rotate(${x < 180 ? 0 : 180})`;
  }

  //return svg.node();
//}
		
    
		
		
		</script>


{% endblock %}